@model PagedList.IPagedList<Namaa.BioMertics.UI.Models.LogDataInfoViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "HRNamaa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<h2>Data Logs</h2>
@using (Html.BeginForm("Index", "LogDataInfoes", FormMethod.Get))
{
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            Search by Name or Num: @Html.Editor("searchString", ViewBag.CurrentFilter as string)
        </div>
        <div class="col-xs-6 col-sm-3">
            From: @Html.Editor("fromDate", ViewBag.FDtFilter as string, new { htmlAttributes = new { @class = "form-control date-picker" } })
        </div>
        <div class="col-xs-6 col-sm-3">
            To: @Html.Editor("toDate", ViewBag.TDFilter as string, new { htmlAttributes = new { @class = "form-control date-picker" } })
        </div>
        <div class="col-xs-6 col-sm-3">
         
        </div>
     
    </div>
    <br/>
    <input type="submit" value="Search" class="btn btn-primary"/>
}
<br/>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("EnrolNum", "Index", new { sortOrder = ViewBag.NumSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })
            @*@Html.DisplayNameFor(model => model.EnrollNum)*@
        </th>
        <th>
            @Html.ActionLink("FullName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })
            @*@Html.DisplayNameFor(model => model.FullName)*@
        </th>
        <th>
            @Html.ActionLink("Day", "Index", new { sortOrder = ViewBag.DaySortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })
            @*@Html.DisplayNameFor(model => model.FullName)*@
        </th>
        <th>
            @Html.ActionLink("LogDate", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })

        </th>
        <th>
            @Html.ActionLink("LogInTime", "Index", new { sortOrder = ViewBag.LogInSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })

        </th>
        <th>
            @Html.ActionLink("LogOutTime", "Index", new { sortOrder = ViewBag.LogOutSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })

        </th>
        <th>
            @Html.ActionLink("DepartmentName", "Index", new { sortOrder = ViewBag.DepartmentNameSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })
        </th>
        <th>
            @Html.ActionLink("CommunityCenterName", "Index", new { sortOrder = ViewBag.CommunityCenterSortParm, currentFilter = ViewBag.CurrentFilter, fdtFilter = ViewBag.FDtFilter, tdFilter = ViewBag.TDFilter })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate.AsDateTime().DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogOutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunityCenterName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>
<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter , fdtFilter =ViewBag.FDtFilter , tdFilter = ViewBag.TDFilter }))


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/jquery-3.1.1.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    $(".date-picker").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd/MM/yy'
                    });

                });

            </script>
        }
